In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
import operator
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn import tree
import numpy
import keras
import json
from sklearn.feature_extraction.text import TfidfVectorizer
from keras.optimizers import SGD
from keras.models import Sequential
from keras.layers import Activation, Dropout, Flatten, Dense, LSTM
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC,LinearSVC
from sklearn.linear_model import LogisticRegression

Using Theano backend.

In [3]:
data = pd.read_csv('train.csv')

In [7]:
data.describe()

,buying_price,maintainence_cost,number_of_doors,number_of_seats,luggage_boot_size,safety_rating,popularity
count,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000
mean,2.532555,2.528256,3.493857,3.633292,1.987101,1.977887,1.348280
std,1.109626,1.116920,1.120557,1.257815,0.816520,0.819704,0.654766
min,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000
25%,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000
50%,3.000000,3.000000,3.000000,4.000000,2.000000,2.000000,1.000000
75%,4.000000,4.000000,4.250000,5.000000,3.000000,3.000000,2.000000
max,4.000000,4.000000,5.000000,5.000000,3.000000,3.000000,4.000000

In [7]:
train = data
train_x=train.drop('popularity',axis=1)
train_y=train['popularity']

In [31]:
test = pd.read_csv('test.csv')

In [35]:
#exported_pipeline = GradientBoostingClassifier(learning_rate=0.5, max_depth=8, max_features=0.8, min_samples_leaf=3, min_samples_split=11, n_estimators=100, subsample=0.85)
exported_pipeline = make_pipeline(
    PolynomialFeatures(degree=2, include_bias=False, interaction_only=False),
    ExtraTreesClassifier(bootstrap=True, criterion="gini", max_features=0.6, min_samples_leaf=1, min_samples_split=3, n_estimators=100)
)
exported_pipeline.fit(train_x, train_y)
results = exported_pipeline.predict(test)

In [36]:
results
rf = pd.DataFrame({"as": results})

In [37]:
rf.to_csv("submit3.csv", sep=',',encoding='utf-8', index=False)

In [32]:
print test

    buying_price  maintainence_cost  number_of_doors  number_of_seats  \
0              4                  1                2                2
1              2                  1                3                4
2              4                  4                2                5
3              4                  3                3                2
4              4                  2                2                4
5              4                  3                5                2
6              1                  3                3                5
7              1                  2                5                5
8              1                  1                2                4
9              2                  4                2                5
10             2                  1                5                4
11             2                  1                3                4
12             1                  2                4                4
13             1                  2                5                4
14             1                  2                5                5
15             2                  1                4                5
16             3                  4                4                4
17             1                  2                3                5
18             4                  3                3                2
19             4                  2                4                4
20             2                  1                2                4
21             2                  1                2                4
22             2                  1                4                4
23             2                  1                5                5
24             1                  3                4                4
25             1                  2                4                5
26             1                  2                2                4
27             1                  1                4                5
28             4                  2                4                5
29             1                  1                2                5
..           ...                ...              ...              ...
70             1                  3                5                5
71             1                  1                2                5
72             1                  3                5                4
73             3                  3                2                5
74             1                  4                4                4
75             4                  1                4                2
76             1                  1                4                5
77             2                  2                5                5
78             1                  1                4                4
79             1                  1                5                4
80             1                  4                3                4
81             1                  2                3                5
82             1                  1                5                5
83             1                  2                3                4
84             1                  3                4                5
85             1                  1                3                4
86             2                  2                4                4
87             2                  2                4                5
88             1                  1                4                4
89             1                  1                3                5
90             4                  4                3                5
91             2                  3                5                5
92             1                  3                2                4
93             4                  1                4                5
94             1                  2                3                4
95             3                  1                4                2
96             3                  2                4                4
97             1                  1                5                4
98             1                  1                3                4
99             1                  3                4                2

    luggage_boot_size  safety_rating
0                   2              2
1                   3              2
2                   1              2
3                   2              2
4                   3              2
5                   3              3
6                   3              3
7                   3              2
8                   3              3
9                   2              1
10                  2              2
11                  1              3
12                  3              3
13                  2              2
14                  3              1
15                  3              2
16                  2              1
17                  2              2
18                  2              3
19                  2              3
20                  3              2
21                  2              3
22                  3              2
23                  2              3
24                  2              2
25                  1              3
26                  3              2
27                  3              3
28                  3              2
29                  2              3
..                ...            ...
70                  2              3
71                  3              3
72                  1              3
73                  3              1
74                  3              2
75                  1              1
76                  2              1
77                  2              3
78                  1              2
79                  3              2
80                  3              3
81                  3              3
82                  1              3
83                  3              2
84                  3              3
85                  2              3
86                  3              3
87                  2              2
88                  3              3
89                  1              2
90                  1              2
91                  3              3
92                  2              2
93                  2              2
94                  3              3
95                  2              2
96                  3              2
97                  3              3
98                  3              3
99                  1              3

[100 rows x 6 columns]